@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

@font-face {
  font-family: 'undertale';
  src: url(undertale-deltarune-text-font-extended.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: 'Poppins';
  font-weight: 100;
  font-size: min(3vw,1.5em);
  color: var(--text);
  --largeur: min(70vw,900px);
}

.corps{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.header {
  font-family: 'undertale';
  font-weight: 100;
  background-color: var(--background);
  color: var(--text); /* Couleur du texte */
  font-size: 1.5em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: solid 1px #222;
  height: 60px;
  display: flex;
    align-items: center;
    justify-content: center;
    }

    .contenu-header {
      width:var(--largeur);
      text-align: left;
      display: flex;
      align-items: center;
    }
  

    .coeur{
      height: 50px;
      width: 50px;
      margin-right: 10px; 
    }

    .conteneur3{
      display: flex;
      background-color: var(--background1);
      width:var(--largeur);
      border-radius: 40px;
      padding: 30px;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      margin-top: 100px;
    }


.form{
  display: flex;
  background-color: var(--background1);
  width:var(--largeur);
  border-radius: 40px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.message {
background-color: var(--background2);
  color: white;
  border: none;
  border-radius: 20px;
     height:70px;
  width: min(40vw,300px);
   font-family: 'Poppins';
  font-weight: 100;
  font-size: 1em;
  color: var(--text);
  margin-left: 10px; 
  padding-left: 20px;;
}

.boutonEnvoyer{
   height:70px;
  width: 150px;
  background:linear-gradient(to bottom right,#8800FF,#FF0000);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 3px solid;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 100;
  font-size: 1em;
  margin: 20px;
}


    @media (prefers-color-scheme: light) {
      :root {
        --text: #000000;
        --background: #eeeeee;
        --background1: #e8e8e8;
        --background2: #ffffff;
        --primary: #000000;
        --secondary: #a8a8a8;
        --accent: #11ff00;
      }
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --text: #ffffff;
        --background: #000000;
        --background1: #111111;
        --background2: #222222;
        --primary: #ffffff;
        --secondary: #575757;
        --accent: #11ff00;
      }
    }

    @media screen and (max-width:1000px){
    }

    @media (prefers-color-scheme: light) {
      .coeur {
        content: url('coeur_noir.webp'); /* Image spécifique pour le thème sombre */
      }
        .header {
        border-bottom: solid 1px #DDD;
      }
      }
    